<!--
  The GA snippet
-->
<!-- Global site tag (gtag.js) - Baidu Analytics -->
{% if site.analytics.baidu.id != empty and site.analytics.baidu.id %}
  <script defer src="https://hm.baidu.com/hm.js?{{ site.analytics.baidu.id }}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}

      gtag('js', new Date());
      gtag('config', '{{ site.analytics.baidu.id }}');
    });
  </script>
{% endif %}
